<h1>Add a Place You've been</h1>
<form action="/places" method="post">
  <label for="new-place">Add a new item</label>
  <input id="new-place" name="new-place" type="text">
  <button type="submit">Submit</button>
</form>
